<div class="container">
    <h1>Admin Panel</h1><br>
    <div class="row">
      <div class="col-md-10 mx-auto">
        <table class="table table-info table-sm">
          <thead>
            <tr>
              <th scope="col">Orders Today</th>
              <th scope="col">Orders Last Week</th>
              <th scope="col">Orders Last Mounth</th>
            </tr>
          </thead>
          <tbody class="">
            <tr>
              <td>{{ordersForDayWeekMounth.ordersToday}}</td>
              <td>{{ordersForDayWeekMounth.ordersWeek}}</td>
              <td>{{ordersForDayWeekMounth.ordersMounth}}</td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div><br>
    <div class="row">
        <div class="col-md-3">
            <button routerLink="addnewproduct" class="btn btn-success">Statistics </button><br>
            <button routerLink="ordersmanager" class="btn btn-primary">View orders</button><br>
            <button routerLink="addnewproduct" class="btn btn-primary">Users managment</button><br>
            <button routerLink="addnewproduct" class="btn btn-success">Add new product</button><br>
            <button routerLink="addnewproduct" class="btn btn-danger">Products managment </button><br>
        </div>
        <div class="col-md-9">
            <label>Recent admin activity</label>
            <div class="table-fix">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Operation</th>
                    <th scope="col">Activity</th>
                  </tr>
                </thead>
                <tbody *ngFor="let history of adminHistory">
                  <tr [ngClass]="{
                   'table-success': history.operation === 0,
                   'table-danger':history.operation === 1,
                   'table-info': history.operation === 2 }" >

                    <th scope="row">{{history.date | date:'medium'}}</th>
                    <td>{{history.adminEmail}}</td>
                    <td>{{activityParse[(history.operation)]}}</td>
                    <td *ngIf="!(history.productId)">{{history.adminAction}}</td>
                    <td routerLink="Shop/{{history.productId}}" *ngIf="history.productId">{{history.adminAction}}</td>
                  </tr>
               
                </tbody>
              </table>
            </div>
        
        </div>
    </div>


</div>
