<div class="container-fluid">
<div class="container">
    <h3 class="text-center text-uppercase ">contact us</h3>
    <p class="text-center w-75 m-auto"></p>
    <div class="row">
      <div class="col-md-3 my-3 shadow-lg">
        <div class="card border-0">
           <div class="card-body text-center">
             <i class="fa fa-phone fa-4x mb-3" aria-hidden="true"></i>
             <h4 class="text-uppercase mb-3 text-success">call us</h4>
             <p>+359 878878787</p>
           </div>
         </div>
      </div>
      <div class="col-md-3 my-3 shadow-lg">
        <div class="card border-0">
           <div class="card-body text-center">
             <i class="fa fa-map-marker fa-4x mb-3" aria-hidden="true"></i>
             <h4 class="text-uppercase mb-3 text-success">office loaction</h4>
            <address>Bulgaria, Sofia kv "Studentski grad" blok 33</address>
           </div>
         </div>
      </div>
      <div class="col-md-3 my-3 shadow-lg">
        <div class="card border-0">
           <div class="card-body text-center">
             <i class="fa fa-map-marker fa-4x mb-3" aria-hidden="true"></i>
             <h4 class="text-uppercase mb-3 text-success">office loaction</h4>
            <address>Bulgaria, Sofia kv "Studentski grad" PLAZA</address>
           </div>
         </div>
      </div>
      <div class="col-md-3 my-3 shadow-lg">
      <div class="card border-0">
        <div class="card-body text-center">
          <i class="fa fa-globe fa-4x mb-3" aria-hidden="true"></i>
          <h4 class="text-uppercase mb-3 text-success">email</h4>
          <p>todorinio123@gmail.com</p>
        </div>
      </div>
    </div>
    </div>
</div>
<div class="container contact-form shadow-lg">
    <div class="contact-image ">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form method="post">
        <h3>Or Drop Us a Message</h3>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
</div>