
<carousel>
  <slide>
    <img src="/assets/images/fashion1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Look Good & Feel Better</h3>
    </div>
  </slide>
  <slide>
    <img src="/assets/images/fashion2.png" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Dress Confidently & Live Confidently</h3>
    </div>
  </slide>
  <slide>
    <img src="https://placeimg.com/1080/500/arch" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container-fluid pt-5 backg" >
  <div class="container marketing "  style=" background-color: rgb(255, 255, 255,1); box-shadow: 5px 10px rgba(95, 95, 95, 0.39); border: 5px solid; border-color: rgba(107, 107, 107, 0.466);" >
    


    <!-- START THE FEATURETTES -->
  
    <div class="row featurette">
      <div class="col-md-4">
        <h2 class="featurette-heading text-info">New 3D printed T-Shirts!</h2>

        <p class="lead">
            New fashion colorful T-shirts with amazing high-quality 3D printed image.
            Browse many of your favourite animated characters.
        </p>
        <button class="btn btn-success btn-lg">
          Shop Now
        </button>
      </div>
      
      <div class="col-md-8">
        <img src="/assets/images/T-shirt9.jpg" class="img-fluid-simpson img-thumbnail" >
        <img src="/assets/images/T-shirt10.jpg" class="img-fluid-simpson img-thumbnail" >
        <img src="/assets/images/T-shirt11.jpg" class="img-fluid-simpson img-thumbnail" >

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-10  mt-3">
        <h2 class="featurette-heading text-secondary">Become fashion with 3 steps:</h2>
        <div class="row">
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-4">
            <i _ngcontent-toj-c27="" class="fa fa-shopping-cart fa-4x text-info"></i>
            <h2 class="text-info">1. Add To Cart</h2>
            <p>Add whatever item you like as long as it makes you look cool. Choose quantity. Go next!</p>
          </div><!-- /.col-lg-4 -->
     
          <div class="col-md-4">
            <i class="fa fa-credit-card-alt fa-4x text-danger" aria-hidden="true"></i>
            <h2 class="text-danger">2. Make Payment</h2>
            <p>Easy, secure and fast payment with <i class="fa fa-cc-stripe" aria-hidden="true"></i></p>
          </div><!-- /.col-lg-4 -->
    
          <div class="col-md-4">
            <i class="fa fa-truck fa-4x text-success" aria-hidden="true"></i>
            <h2 class="text-success">3. Receive</h2>
            <p>Get your delivery as soon as posible and start looking fashion.</p>
          </div><!-- /.col-lg-4 -->
        </div>
      </div>
      <div class="col-md-2">
        <img src="/assets/images/stripeCards.png"  class="img-fluid mt-4">
      </div>

    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-success">It's not all about the fashion T-shirts</h2>
        <p class="lead">We also offer a 3D printed fashion HATS. And also bucket type hats with printed cool images. Don't shame go shopping and make your outfit fashion. </p>
        <button class="btn btn-info btn-lg">
          Shop Now
        </button>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/images/hat.jpg"  class="img-fluid">
      </div>
      
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-info">And lastly, Shoes.</h2>
        <p class="lead">Check our Shoes .Sport,official shoes whatever you like and need of we have it . Many choose of size.</p>
        <button  class="btn btn-success btn-lg">
          Shop Now
        </button>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/Shoe2.jpg"  class="img-fluid">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</div>
