<div class="container">
    <div class="main-body">
    
         <h2>My Account</h2>
    
          <div class="row ">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{(currentUser$ | async).displayName}}</h4>
                      <p class="text-secondary mb-1">{{(currentUser$ | async).email}}</p>
                      <p class="text-muted font-size-sm">{{address.state}}</p>      
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <ul class="list-group">
                  <li class="list-group-item " (click)="changeActive(1)"
                  [class.active]="activeButton === 1" 
                  [attr.aria-expanded]="!overviewCollapsed" aria-controls="overviewCollapse"
                  >Account Overview</li>

                  <li class="list-group-item " (click)="changeActive(2)"
                  [class.active]="activeButton === 2"
                  [attr.aria-expanded]="!addressCollapsed" aria-controls="addressCollapse"
                  >Default Address</li>

                  <li class="list-group-item " (click)="changeActive(3)"
                  [class.active]="activeButton === 3"
                  [attr.aria-expanded]="!ordersCollapsed" aria-controls="ordersCollapse"
                  >My Orders</li>        
                  
                  <li class="list-group-item " (click)="changeActive(4)"
                  [class.active]="activeButton === 4"
                  [attr.aria-expanded]="!settingsCollapsed" aria-controls="settingsCollapse"
                  >Account Settings</li>   
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="mb-3 address"id="overviewCollapse" [collapse]="overviewCollapsed" >
                    Account Overview
              </div>
              <div class="card mb-3 overview" id="addressCollapse" [collapse]="addressCollapsed" >
                <h2 class="text-success">Default Address <button (click)="editAddress()" class="btn btn-info btn-sm">Edit
                  <i class="fa fa-pencil pl-1" aria-hidden="true"></i>
                </button> </h2>
                <form  [formGroup]="addressForm" (ngSubmit)="onAddressUpdate();">
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label >First name</label>
                      <input formControlName="firstName" type="text" class="form-control"  placeholder="First name" value="Mark" >
        
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationTooltip02">Last name</label>
                      <input formControlName="lastName" type="text" class="form-control"  placeholder="Last name" value="Otto" >
                 
                    </div>
          
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationTooltip03">City</label>
                      <input formControlName="city" type="text" class="form-control"  placeholder="City" >
                  
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationTooltip04">State</label>
                      <input formControlName="state" type="text" class="form-control"  placeholder="State" >
                 
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationTooltip05">Zip</label>
                      <input formControlName="zipcode" type="text" class="form-control" placeholder="Zip" >
                   
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="validationTooltip03">Street</label>
                      <input formControlName="street" type="text" class="form-control" placeholder="Street" >
                  
                    </div>
                  </div>
                  <button class="btn btn-success  mr-3" type="submit" [disabled]="!editStart" [hidden]="!editStart" >
                    Save as default address
                  </button>
                  <button (click)="editStart = false; addressForm.disable();" class="btn btn-info btn-sm mr-3" type="submit" [disabled]="!editStart" [hidden]="!editStart" >
                    Cancel
                  </button>
                </form>
              </div>
              <div class="mb-3 address"id="ordersCollapse" [collapse]="ordersCollapsed" >
                My Orders
              </div>
              <div class="mb-3 address"id="settingsCollapse" [collapse]="settingsCollapsed" >
                Account Settings
              </div>

              <div class="row">
                
                <div class="col-md-6 mb-3">
                
                </div>
                <div class="col-md-6 mb-3">
             
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>