<div class="container">
    <h2>Order Manager   
      <button routerLink="/admin" class="btn btn-info btn-sm">Back to Admin Panel</button>
    </h2><br>
    <div class="row">
        <form [formGroup]="ordersSearchForm" (ngSubmit)="onSubmit()">
          <div class="col-md-3 d-inline">
          <label>Date:&nbsp;</label>
          <input formControlName="dateSearch"  type="date">
          </div>
          <div class="col-md-3 d-inline">
          <label>Email:&nbsp;</label>
          <input formControlName="emailSearch" type="text">
          </div>
          <div class="col-md-3 d-inline">
          <label>Name:&nbsp;</label>
          <input formControlName="nameSearch" type="text">
          </div>
          <div class="col-md-3 d-inline">
          <label>Payment Intent:&nbsp;</label>
          <input formControlName="paymentIntentSearch" type="text">
          </div>
          <div class="col-md-3 d-inline">
          <button class="btn btn-dark btn-sm" type="submit">Search <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          </div>
        </form>
    
    </div>
    <div class="row">
      <div class="ordersTable col-md-12">
        <table class="table  table-sm">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>State/City</th>
                <th>User Email</th>
                <th>Name</th>
                <th>Total</th>
                <th>Delivery Method</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of orders">
              <tr class="allorders" (click)="loadOrCloseClickedOrder(order.id)">
                <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                <td>{{order.orderDate | date:'medium'}}</td>
                <td>{{order.shipToAddress.state + " , " + order.shipToAddress.city}}</td>
                <td>{{order.buyerEmail}}</td>
                <td>{{order.shipToAddress.firstName + " " + order.shipToAddress.lastName}}</td>
                <td>{{order.subTotal | currency}}</td>
                <td>{{order.deliveryMethod.shortName}}</td>
                <td>{{statusParse[(order.status)]}}</td>

              </tr>
   
            </tbody>
          </table>
          
      </div>
    </div>
    <label>*click order for details</label>
   <ng-container *ngIf="!isEmptyObject(loadedOrder)">
     <h2>Order#{{loadedOrder.id}} <i (click)="closeLoadedOreder();" class="fa fa-minus-square closeLoaded" aria-hidden="true"></i>
     </h2>
     <label>{{loadedOrder.orderDate | date:'medium'}}</label>
     <div class="row">
         <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{loadedOrder.buyerEmail}}</td>
                      </tr>
                  <tr>
                    <th scope="row">First Name</th>
                    <td>{{loadedOrder.shipToAddress.firstName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Last Name</th>
                    <td>{{loadedOrder.shipToAddress.lastName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">State</th>
                    <td>{{loadedOrder.shipToAddress.state}}</td>
                  </tr>
                  <tr>
                    <th scope="row">City</th>
                    <td>{{loadedOrder.shipToAddress.city}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Street</th>
                    <td>{{loadedOrder.shipToAddress.street}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Zipcode</th>
                    <td>{{loadedOrder.shipToAddress.zipcode}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Status</th>
                    <td>{{statusParse[(loadedOrder.status)]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Payment Intent Id</th>
                    <td>{{loadedOrder.paymentIntentId}}</td>
                  </tr>
      
                </tbody>
              </table>
         </div>
         <div class="col-md-6">
             Order details:
            <table class="table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Id</th>
                  </tr>
                </thead>
                <tbody *ngFor="let product of loadedOrder.orderItems">
                  <tr>
                    <td><img class="" src="{{baseUrl + product.itemOrdered.pictureUrl}}" style="width:50px; height:auto; display: block; " /></td>
                    <td> 
                      <a href="/shop/{{product.itemOrdered.productItemId}}">{{(product.itemOrdered.productName).substring(0,25)+"..."}}</a>
                    </td>
                    <td>{{product.price | currency}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.itemOrdered.productItemId}}</td>
                  </tr>
                </tbody>
              </table>
              Delivery:
              <label>{{loadedOrder.deliveryMethod.shortName + " , " + loadedOrder.deliveryMethod.deliveryTime + "  / Delivery cost: " + (loadedOrder.deliveryMethod.price | currency)}}</label>       
              <div class="alert alert-success text-md-center font-weight-bold h3" role="alert">
                Total: {{(loadedOrder.subTotal + loadedOrder.deliveryMethod.price) | currency }}
              </div>
         </div>
     </div>
   </ng-container>
</div>
