<div class="container mt-5">


  <div class="row shadow" *ngIf="product">

    <div class="col-6">
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100" />
    </div>
    <div class="col-6">
      <h2 class="text-info">{{product.name}}</h2>
      <p style="font-size:2em;">{{product.price | currency}}</p>
      <select class="custom-select mb-3 w-50" id="sizeSelect">
        <option selected>Size Kid</option>
        <option value="1">Size Adult</option>
        <option value="2">Size Kid</option>
        <option value="3">Size Kid</option>
      </select>
      <div class="d-flex justify-content-start align-items-center">
        <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2"
          style="cursor: pointer; font-size:2em;"></i>
        <span class="font-weight-bold" style="font-size:1.5em;">{{quantity}}</span>
        <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2"
          style="cursor: pointer; font-size:2em;"></i>

        <button (click)="addItemToBasket()" class="shadow btn-outline-primary btn-lg ml-4">Add to Cart</button>
      </div>
      <div class="row mt-5">
        <div class="col-12 ml-3">
          <h4>Description</h4>
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="">
        <h2 class="text-info mt-4">Reviews <i *ngIf="loadingReviews" class="fa fa-spinner fa-spin"></i></h2>
        <span [className]="averageProductRating.toFixed() >= 1 ? 'fa fa-star totalstar' : 'fa fa-star-o totalstar'" class="fa fa-star totalstar"></span>
        <span [className]="averageProductRating.toFixed() >= 2 ? 'fa fa-star totalstar' : 'fa fa-star-o totalstar'" class="fa fa-star totalstar"></span>
        <span [className]="averageProductRating.toFixed() >= 3 ? 'fa fa-star totalstar' : 'fa fa-star-o totalstar'" class="fa fa-star totalstar"></span>
        <span [className]="averageProductRating.toFixed() >= 4 ? 'fa fa-star totalstar' : 'fa fa-star-o totalstar'" class="fa fa-star-o totalstar"></span>
        <span [className]="averageProductRating.toFixed() >= 5 ? 'fa fa-star totalstar' : 'fa fa-star-o totalstar'" class="fa fa-star-o totalstar"></span>
        <span class="ml-2 mr-1" style="font-size:1.7em;">{{averageProductRating}}</span>
        <span> ({{totalProductReviews}} reviews)</span>
        <div *ngIf="productReviews.length === 0 && !loadingReviews" class="alert alert-info mt-2" role="alert">
          Be the first who leaves review!
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="row">
          <div *ngFor="let review of productReviews" class="col-md-12 mt-1 mb-2 shadow">

            <p style="font-size: 13px;" class="text-gray mb-0">{{review.date | date}}</p>
            <h4 class="mb-1"><a class="text-black">{{review.userName}}</a></h4>
            <p style="font-size: 16px;" class="mb-0">{{review.comment}}</p>

            <span [className]="review.starRate >= 1 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'" class="fa fa-star userstar"></span>
            <span [className]="review.starRate >= 2 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'" class="fa fa-star userstar"></span>
            <span [className]="review.starRate >= 3 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'" class="fa fa-star userstar"></span>
            <span [className]="review.starRate >= 4 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'" class="fa fa-star-o userstar"></span>
            <span [className]="review.starRate >= 5 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'" class="fa fa-star-o userstar"></span>
            <div class="">
            <div class="text-right">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              {{review.reviewLikes}}
              <i class="fa fa-thumbs-o-down ml-3  mb-2 " aria-hidden="true"></i>
              {{review.reviewDislikes}}
            </div>
          </div>
          </div>
        </div>
        <div *ngIf="loadingMoreReviews" class="text-center">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
           <div class="text-right">
           <label>{{productReviews.length}} of {{totalProductReviews}} reviews</label>
            <button [hidden]="(totalProductReviews <= productReviews.length)" (click)="loadMoreReviews();"
             class="btn btn-link btn-lg ml-1 mr-2 " id ="loadMoreBtn">Load More </button>
           </div>
      


        <div *ngIf="!hasUserSubmitedReview" class="bg-white rounded p-2 mb-5 rating-review-select-page">
          <h4 class="mb-3 text-info">Leave Review</h4>
          <div *ngIf="!(currentUser$ | async)" class="alert alert-danger" role="alert">
            You must be logged to submit reviews! <a [routerLink]="['/account/login']">Login</a>
            or
            <a [routerLink]="['/account/register']" class="" href="">Register </a>
          </div>
          <div class="mb-3" >
            <p *ngIf="userReviewRating === 0" class="mb-2 text-success">Please pick star rate</p>
            <span [className]="userReviewRating >= 1 ? 'fa fa-star userreviewstar' : 'fa fa-star-o userreviewstar'" (click)="userReviewRating = 1;"></span>
            <span [className]="userReviewRating >= 2 ? 'fa fa-star userreviewstar' : 'fa fa-star-o userreviewstar'" (click)="userReviewRating = 2;" ></span>
            <span [className]="userReviewRating >= 3 ? 'fa fa-star userreviewstar' : 'fa fa-star-o userreviewstar'" (click)="userReviewRating = 3;" ></span>
            <span [className]="userReviewRating >= 4 ? 'fa fa-star userreviewstar' : 'fa fa-star-o userreviewstar'" (click)="userReviewRating = 4;" ></span>
            <span [className]="userReviewRating >= 5 ? 'fa fa-star userreviewstar' : 'fa fa-star-o userreviewstar'" (click)="userReviewRating = 5;" ></span>
            <span [class.text-info]="userReviewRating === 3" [class.text-danger]="userReviewRating <= 2" [class.text-success]="userReviewRating >= 4" *ngIf="userReviewRating != 0" class="mb-2"> {{userReviewRating}}/5</span>
          </div>
          <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
            <div class="form-group w-50">
              <label class="text-info">Your Comment, not required.</label>
              <textarea (input)="CalculateCommentLength(reviewForm.get('comment').value.length);" formControlName="comment" class="form-control"></textarea>
              <div class="text-right mr-2 text-info">{{userReviewCommentLength}}/600</div>
            </div>

            <div class="form-group">
               <button class="btn btn-info" type="submit">Submit Review <i *ngIf="loadingSubmitedReview" class="fa fa-spinner fa-spin"></i></button>
            </div>
          </form>
          </div>

          <div *ngIf="hasUserSubmitedReview" class="bg-white rounded p-2 mb-5 rating-review-select-page">
            <h4 class="mb-3 text-success">Thank you for your review!</h4>

            <div class="col-md-12 mt-1 mb-2">
              <p class="text-gray mb-0">{{userSubmitedReview.date | date}}</p>

              <h3 class="mb-1"><a class="text-black">{{userSubmitedReview.userName}}</a></h3>
              <span [className]="userSubmitedReview.starRate >= 1 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'"></span>
              <span [className]="userSubmitedReview.starRate >= 2 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'"></span>
              <span [className]="userSubmitedReview.starRate >= 3 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'"></span>
              <span [className]="userSubmitedReview.starRate >= 4 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'"></span>
              <span [className]="userSubmitedReview.starRate >= 5 ? 'fa fa-star userstar' : 'fa fa-star-o userstar'"></span>
              <div class="">
                <p class="mb-0">{{userSubmitedReview.comment}}</p>
              <div class="text-right">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                {{userSubmitedReview.reviewLikes}}
                <i class="fa fa-thumbs-o-down ml-3  mb-2 " aria-hidden="true"></i>
                {{userSubmitedReview.reviewDislikes}}
              </div>
            </div>
            </div>

            </div>

      </div>

    </div>

  </div>
